<!-- Sección contacto -->
<section style="background-color: #EBEBEB; position: relative; overflow: hidden; " class="text-white text-sm h-screen">
  <div class="absolute inset-0 w-full h-full z-0 " style="background: url('assets/img/strawberries-6165597_1920.webp') left center / cover no-repeat; opacity: 1; filter: brightness(0.6); transform: scaleX(-1); background-attachment: fixed;"></div>
  <div class="max-w-6xl mx-auto px-4 relative z-10 flex items-center h-full">
    <div class="py-8">
      <!-- Contactos -->
      <div class="max-w-[500px]">
        <div class="flex flex-col md:flex-row items-center gap-4 mb-8" data-aos="fade-up">
          <span class="w-14 h-14 flex items-center justify-center bg-blue-100 rounded-full">
            <i class="fas fa-envelope text-celeste text-xl"></i>
          </span>
          <h3 class="text-2xl font-bold text-white">Contactos</h3>
        </div>
        <div class="text-center md:text-left" data-aos="fade-up" data-aos-delay="100">
          <p>Puede comunicarse con nosotros para realizar cualquier tipo de consulta:</p>
          <ul class="mt-4">
            <li><a href="mailto:info@friendsfood.com.ar" class=" underline">info@friendsfood.com.ar</a></li>
          </ul>
          <p class="mt-8 text-sm">Nos comunicaremos a la brevedad. <br /><br />¡Muchas gracias!</p>
        </div>
      </div>
    </div>
  </div>
</section> 